/* reset.css */

/* 盒模型规则 */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* 移除默认的外边距 */
body,
h1, h2, h3, h4, h5, h6,
p, figure,
blockquote, dl, dd, ol, ul,
fieldset, legend {
    margin: 0;
    padding: 0;
}

/* 字体样式 */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* 移除列表样式 */
ol, ul {
    list-style: none;
}

/* 移除默认链接样式 */
a {
    color: inherit;
    text-decoration: none;
}

/* 聚焦时移除外边框 */
*:focus {
    outline: none;
}

/* 在下方添加你的自定义reset样式 */
